body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 200px;
  background-color: #f2f4f3;
  border: none;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-logo{
  height: 50px;
  /* margin-left: -11px; */
  margin-top: 20px;
  margin-bottom: 0;
}

.slogan{
  font-family: 'Nanum Gothic', sans-serif;
}

.question-text{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #1db954;
}

h3{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  font-family: 'Nanum Gothic', sans-serif;
}

#form-input{
  margin-bottom: 5px;
  height: 20px;
  border-radius: 10px;
  font-family: 'Nanum Gothic', sans-serif;
  border: none;
  margin-bottom: 7px;
  box-shadow: 1px 8px 21px 3px #000000a9;
  text-align: center;
}

::placeholder {
  text-align: center;
}

#submit-btn{
  border: none;
  border-radius: 10px;
  height: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 10px;
  background: rgb(45, 45, 45);
  color: whitesmoke;
  box-shadow: 1px 8px 21px 3px #0000007e;
  
}

#submit-btn:hover{
  cursor: pointer;
  background: rgb(60, 60, 60);
  /* filter: invert(); */
  box-shadow: 1px 8px 21px 3px #000000;
}

#submit-btn:focus{
  animation: myAnim .4s ease-in-out 0s 1 normal forwards;
}

.response-text{
  justify-content: center;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

.data-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}



.sim-art-container{

}

.artistContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sim-artist{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  text-wrap: balance;
  text-align: center;
}

.art-image{
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50px;
  margin-bottom: 4px;
}

.sim-url{
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}

@keyframes myAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}